[Unit]
Description=Caddy Dashboard
After=network.target

[Service]
Type=simple

WorkingDirectory=/opt/caddy-dashboard
EnvironmentFile=/opt/caddy-dashboard/.env

ExecStart=/usr/bin/node server/index.js
Restart=on-failure

User=twoj-user

# SupplementaryGroups=shadow

[Install]
WantedBy=multi-user.target
